    <h1>Formularo handlebars</h1>
    <form action="/productos" method="post">
        <input type="text" id="title" name="title" placeholder="title">
        <input type="text" id="price" name="price" placeholder="price">
        <input type="text" id="thumbnail", name="thumbnail", placeholder="thumbnail">
        <button type="submit">ENVIAR</button>
    </form>
    <a href='/productos'>Lista</a>