doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible", content="IE=edge")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title Lista Pug 
        link(rel="stylesheet", type="text/css", href="css/style.css")
    body 
        h1 Listado de Productos 
        if productos.length == 0
            h3 No hay Productos 
        else 
            ul(class="Lista__Cabezera")
                li Nombre 
                li Precio 
                li Imagen 
            each el in productos 
                ul(class="Lista__Ordenada")
                    li=el.title 
                    li=el.price 
                    div 
                        img(src=el.thumbnail)
        a(href="/")="Formulario"