<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('../partials/head'); %>
    <title>Login ERROR</title>
</head>
<body>
    <h1>USER ERROR LOGIN</h1>
    <button onclick="location.href = '/'" >Volver</button>
</body>