<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('../partials/head'); %>
    <title>logout</title>
</head>
<body>
    <header>
        <h2>Hasta luego <%= nombre %></h2>
        <button onclick="location.href = '/'">Ir al inicip</button>
    </header>

</body>
</html>