<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('../partials/head'); %>
    <title>Registro ERROR</title>
</head>
<body>
    <h1>USER ERROR SINGUP</h1>
    <button onclick="location.href = '/register'" >Volver</button>
</body>